# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.ini
*.db

# Directories

bin/example_*
build-debug/
build-release/
build/
lib/
vcpkg_installed/
*.lastcodeanalysissucceeded
docs/doxygen/html/
docs/doxygen/latex/
/.VSCodeCounter
_CMakePresets.json
/docs/site
/docs/docs/doxygen/html/
/bin/Release
/bin/Debug
/bin/Debug
/bin/Debug
